<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Komentarze</title>
    <link rel="stylesheet" th:href="@{/css/comment_page_style.css}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>
<body>
<header>
    <div class="top-bar">
        <button class="menu-toggle" onclick="toggleMenu()">☰</button>
        <nav class="side-menu">
            <button type="button" class="btn btn-secondary menu-toggle" onclick="toggleMenu()">
                <i class="fas fa-times"></i> Zamknij
            </button>
            <ul>
                <li><a href="/main_page">Strona główna</a></li>
                <span th:if="${loggedInUser}">
                    <li><a href="/my_reservations">Moje rezerwacje</a></li>
                </span>
                <li><a href="/rent">Zarezerwuj</a></li>
                <li><a href="/calculate">Oblicz koszta</a></li>
                <li><a href="/price_list">Cennik</a></li>
                <li><a href="/about_us">O nas</a></li>
                <li><a href="/contact">Kontakt</a></li>
            </ul>
        </nav>
        <h1 class="h1-top-bar">
            <span th:if="${loggedInUser}" th:text="${'Witaj, ' + loggedInUser.firstName + ' ' + loggedInUser.lastName + '!'}"></span>
        </h1>
        <div class="auth-buttons">
               <span th:if="${role eq 'Administrator'}">
                        <button type="button" class="btn btn-secondary" onclick="panel()">Panel</button>
                    </span>
            <span th:if="${role eq 'Moderator'}">
                        <button type="button" class="btn btn-secondary" onclick="panel_mod()">Panel mod</button>
                    </span>
                   <span>
                       <button type="button" class="btn btn-secondary">
                           Portfel: <span th:text="${walletBalance}"></span> PLN
                       </button>
                   </span>
                   <button type="button" class="btn btn-secondary logout-button" onclick="logout()">Wyloguj się</button>
               </span>
            <span th:unless="${loggedInUser}">
                   <button type="button" class="register-button" onclick="redirectToRegister()">Rejestracja</button>
                   <button type="button" class="login-button" onclick="redirectToLogin()">Logowanie</button>
               </span>
        </div>
    </div>
</header>

<div class="big-container">
    <div class="comments-container">
        <h2>Komentarze dla samochodu: <span th:text="${car.brand + ' ' + car.number}"></span></h2>
        <div th:each="comment : ${comments}" class="comment-card">
            <p class="comment-content" th:text="${comment.content}"></p>
            <p class="comment-author">
                Dodano przez:
                <span th:text="${comment.user.firstName + ' ' + comment.user.lastName}"></span>
            </p>
            <div th:if="${moderatorRole == 'pomocnik'}">
                <form th:action="@{/approve_comment/{commentId}(commentId=${comment.id})}" method="post">
                    <button type="submit" class="btn btn-success"
                            th:if="${not comment.approved}">Akceptuj</button>
                </form>
                <form th:action="@{/delete_comment/{commentId}(commentId=${comment.id})}" method="post">
                    <button type="submit" class="btn btn-danger" >Usuń</button>
                </form>
            </div>
            <form th:if="${role eq 'Administrator'}" th:action="@{/delete_comment/{commentId}(commentId=${comment.id})}" method="post">
                <button type="submit" class="btn btn-danger">Usuń</button>
            </form>
        </div>
        <div class="comment-form">
            <h3>Dodaj komentarz</h3>
            <form th:action="@{/add_comment}" method="post">
                <input type="hidden" name="carId" th:value="${car.id}">
                <textarea name="commentContent" placeholder="Twój komentarz..." required></textarea>
                <button type="submit" class="btn btn-primary">Dodaj komentarz</button>
            </form>
        </div>
    </div>
</div>

<footer>
    <p>2025 Car Rental ©</p>
</footer>

<script>
    function toggleMenu() {
        var sideMenu = document.querySelector('.side-menu');
        sideMenu.classList.toggle('open');
    }
    function redirectToLogin() {
        window.location.href = "/login";
    }
    function redirectToRegister() {
        window.location.href = "/register";
    }
    function logout() {
        window.location.href = "/logout";
    }
    function panel(){
        window.location.href = "/panel";
    }
    function redirectToReserveCarPage(carId) {
        window.location = "/reserve_car/" + carId;
    }
    function panel_mod() {
        window.location.href = "/panel_mod";
    }
</script>
</body>
</html>