<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Car Rental</title>
    <link rel="stylesheet" th:href="@{/css/register_page_style.css}">
</head>
<body>
<div class="register-box">
    <h2>Rejestracja</h2>
    <form th:action="@{/register}" method="post">

        <div th:if="${errorMessage}" class="alert error show">
            <p th:text="${errorMessage}"></p>
        </div>

        <div class="user-box">
            <input type="text" id="username" name="username" required>
            <label>Nazwa użytkownika</label>
        </div>
        <div class="user-box">
            <input type="text" id="firstName" name="firstName" required>
            <label>Imię</label>
        </div>
        <div class="user-box">
            <input type="text" id="lastName" name="lastName" required>
            <label>Nazwisko</label>
        </div>
        <div class="user-box">
            <input type="email" id="email" name="email" required>
            <label>Adres e-mail</label>
        </div>
        <div class="user-box">
            <input type="password" id="password" name="password" required>
            <label>Hasło</label>
        </div>
        <div class="user-box">
            <input type="password" name="confirmPassword" required>
            <label>Potwierdź hasło</label>
        </div>
        <a>
            <span></span>
            <span></span>
            <span></span>
            <span></span>
            Zarejestruj się
            <button type="submit"></button>
        </a>
    </form>
</div>
<script>
        setTimeout(function() {
        const alert = document.querySelector('.alert.error');
        if (alert) {
        alert.classList.remove('show');
        alert.classList.add('hide');
    }
    }, 5000);
</script>
</body>
</html>